/* Global */
* {
  box-sizing: border-box;
}


body {
  background: linear-gradient(180deg, #374151 0%, #111827 100%);
  font-family: "Roboto", sans-serif;
  color: #fff;
  font-weight: 400;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: #fff;
}

p, h1  {
  margin: 0;
}


nav {
  flex: 1;
}

header, main {
  max-width: 1516px;
  margin: 0 auto;
}
/* wrapper */

.wrapper {
  margin: 0 auto;
  width: 708px;
}

/* Header */
.header {
  display: flex;
  justify-content: space-between;
  gap: 77px;
  margin-top: 93px;
  align-items: center;
  margin-bottom: 73px;
}

.header_flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Logo */

.header-logo {
  display: flex;
  align-items: center;
  gap: 11px;
}

.header-logo__logo {
  font-family: "Source Code Pro", sans-serif;
  color: #fff;
  background-color: #4b5563;
  padding: 6px 12px;
  border-radius: 5px;
  font-size: 18px;
  font-weight: 600;
  line-height: 22.63px;
  box-shadow: 0px 15px 30px 0px #00000026;
}

/* Nav */

.header-nav__a {
  font-size: 16px;
  font-weight: 400;
  line-height: 18.75px;
}

.header-nav {
  display: flex;
  gap: 39px;
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.header-nav li:first-child {
   margin-right: 13px;
}

/* Input */

form {
  position: relative;
}
form img {
  position: absolute;
  top: 13px;
  left: 18px;
}
input {
  font-size: 16px;
  border-radius: 100px;
  padding: 11px 12px 11px 49px;
  background: rgba(31, 41, 55, 0.6);
  color: #fff;
  border: 0;
  outline: none;
  caret-color: gray;
}
form input::placeholder {
  font-weight: 400;
  line-height: normal;
  color: #a3a7ae;
}
form input:focus-visible {
  outline: 1px solid #4b5563;
}

/* title */

.article-title__date {
  color: #adb1b7;
  font-size: 14px;
  line-height: 16.41px;
  text-align: center;
  margin-bottom: 14px;
}

.img1 {
  padding: 0 12px 3px;
}

.article-title__name {
  font-size: 24px;
  font-weight: 400;
  line-height: 38px;
  text-align: center;
  margin-bottom: 30px;
}

.article-title {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
  margin-bottom: 28px;
}

.article-title__avtor {
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
  
}

.article-title__spec {
  font-size: 14px;
  font-weight: 400;
  line-height: 28px;
  color: #adb1b7;
}

/* Article */

.article-img {
  margin: 0 auto;
  align-items: center;
  display: flex;
  border-radius: 5px;
  margin-bottom: 69px;
}

.article-text-h2 {
  font-size: 20px;
  font-weight: 400;
  line-height: 32px;
  margin-bottom: 69px;
}

.article-text-p {
  font-size: 16px;
  font-weight: 400;
  line-height: 30px;
  margin-bottom: 69px;
}

.footer {
  color: #adb1b7;
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
  text-align: center;
  margin-bottom: 77px;
}
